body {
  font-family: arial;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (min-width: 100%) {
  .container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
  }
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 765px) {
  .wrapper {
    all: unset;
  }
}

.logo {
  font-size: 1.4em;
  color: white;
  text-align: center;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  /* height: 35px; */
}

.nav-wrapper > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav {
  background-color: #f90;
  color: white;
  padding: 5px 20px;
  /* height: 35px; */
}

.authButtons {
  display: flex;
  justify-content: space-between;
  min-width: 5em;
  width: auto;
  font-size: 14px;
}

.authButtons > li {
  align-self: center;
  margin-left: 5px;
}

a {
  color: white;
  text-decoration: none;
}

main {
  flex: 1;
  padding: 20px;
}

ul > li {
  align-self: center;
  margin-right: 5px;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}


h1 {
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: bold;
}
